@tailwind base;
@tailwind components;
@tailwind utilities;



button>svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}

button:has(>svg) {
    position: relative;
}

#console-el {
    max-height: 68dvh;
}
#bridge-button {
    width: 80%;
}
