@tailwind base;
@tailwind components;
@tailwind utilities;



button>svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}

button:has(>svg) {
    position: relative;
}
#bridge-button {
    flex-shrink: 1.25;
}
#console-container {
    height: calc(100dvh - 10rem);
}
#console-el {
    max-height: calc(100% - 5.5rem)
}